.faq {

  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
    }
    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;


    .question {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      padding: 18px 19px 18px;
      cursor: pointer;
      transition: all .2s;

      .chevron {
        margin-left: auto;
        transition: all .2s;
      }

      &[aria-expanded="true"] {
        padding: 15px 19px 18px;

        .chevron {
          transform: rotate(180deg);
        }
      }
    }

    .answer {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #5D657B;
      padding: 0 19px 15px;
    }

    @include media-breakpoint-down(md) {
      .question {
        font-size: 13px;
        line-height: 16px;
        color: #090E34;
        padding: 19px 19px 19px;
      }
      .answer {
        font-size: 13px;
        line-height: 26px;
      }
    }
  }
}