.header {
  background: white;
  display: flex;
  align-items: center;
  padding: 10px 0 6px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding: 17px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 25px 0 19px;
  }
  @include media-breakpoint-up(xxxl) {
    padding: 20px 0;
  }

  .unauthorized-block {
    margin-left: auto;
    display: flex;
    gap: 16px;

    @include media-breakpoint-down(lg) {
      justify-content: flex-end;
    }
  }

  .navbar-toggler {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: none;
    padding: 8px;
    margin-right: -8px;

    span {
      width: 24px;
      height: 4px;
      background: #4A6CF7;
      transition: all .2s;
      border-radius: 9px;
    }

    //&:not(.collapsed) {
    //
    //  span {
    //    transform-origin: left;
    //
    //    &:nth-of-type(1) {
    //      transform: rotate(45deg);
    //    }
    //
    //    &:nth-of-type(2) {
    //      opacity: 0;
    //    }
    //
    //    &:nth-of-type(3) {
    //      transform: rotate(-45deg);
    //    }
    //  }
    //}

    &:focus {
      box-shadow: none;
    }

    &:hover {
      span {
        background: #4A6CF7;
      }
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(lg) {
      padding: 5px 15px;
    }
    @include media-breakpoint-up(xxxl) {
      padding: 5px 0 5px 15px;
      .header__logo {
        order: 1;
      }
      .header__navigation {
        order: 2;
      }
      .header__user-actions {
        order: 3;
      }
    }
  }

  &__logo {
    margin-right: 25px;
    @include media-breakpoint-up(md) {
      margin-right: 25px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 110px;
    }
    @include media-breakpoint-up(xxl) {
      margin-right: 90px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    margin: 19px -17px 0;
    width: calc(100% + 34px);

    a {
      display: block;
      border: 1px solid transparent;
      padding: 2px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #090E34;

      span {
        display: flex;
        gap: 10px;
        padding: 12px 15px;
      }

      &.active,
      &:hover {
        border: 1px solid #4A6CF7;
        color: white;

        span {
          background: #9CB2EB;
          padding: 15px;
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    @include media-breakpoint-up(sm) {
      a {
        border-radius: 51px;
        padding: 3px;

        span {
          border-radius: 51px;
        }
      }
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 0;
      max-width: 786px;
      margin: 20px auto 0;
      justify-content: center;
      a {
        width: 189px;
        display: flex;
        align-items: center;

        span {
          width: 100%;
          justify-content: center;
        }
      }
    }
    @include media-breakpoint-between(xxl, xxxl) {
      max-width: unset;
      width: 100%;
      justify-content: center;
    }
    @include media-breakpoint-up(xxxl) {
      width: auto;
      max-width: unset;
      gap: 24px;
      margin: 0 100px 0 0;
    }
  }

  &__user-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    .links {
      display: flex;
      gap: 15px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      @include media-breakpoint-up(md) {
        margin-right: auto;
      }
      @include media-breakpoint-up(lg) {
        gap: 30px;
        margin-right: 77px;
      }
      @include media-breakpoint-up(xxl) {
        margin-right: auto;
      }
    }

    .btn {
      width: 180px;
      padding: 14px;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      gap: 15px;
      .user-dropdown {
        margin-right: -35px;
      }
    }
    @include media-breakpoint-up(lg) {
      gap: 35px;
      margin-left: auto;
      flex-grow: 0;
    }
    @include media-breakpoint-up(xxxl) {
      gap: 35px;
      flex-grow: 1;
      .user-dropdown {
        margin-right: -10px;
      }
    }
  }

  .mobile-user-link {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    color: #090E34;

    &:hover {
      color: #4A6CF7;
    }
  }

  .btn-login {
    width: 130px;
  }

  .btn-signup {
    width: 135px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}