.user-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    background: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #090E34;
    padding: 15px 35px 15px 15px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    &:after {
      content: '';
      border: 0;
      width: 10px;
      height: 7px;
      margin-left: 12px;
      background: url("/images/icons/chevron.svg");
    }

    &.show {
      &:after {
        transform: rotate(180deg);
      }
    }

    > a {
      font-size: 16px;
      line-height: 19px;
      color: #090E34;
    }
  }

  .dropdown-menu {
    background: white;
    border: 0;
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin-top: -5px;
    padding: 0 0 5px;
    min-width: auto;
    overflow: hidden;

    li {
      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: block;
        color: #090E34;
        padding: 10px 0;
        margin: 0 15px;
        text-decoration: none;
        border-top: 1px solid #F0F3F8;

        &:hover {
          color: #4A6CF7;
        }
      }
    }
  }
}