<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md header__inner">
            <a href="/" class="header__logo">
                <img src="./images/logo-header.svg" alt="">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse header__user-actions" id="navbarNav">
                <div class="unauthorized-block">
                    <a href="sign-in.html" class="btn btn-secondary btn-login">Вход</a>
                    <a href="sign-up.html" class="btn btn-primary btn-signup">Регистрация</a>
                </div>
            </div>
        </nav>
    </div>
</header>