<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md header__inner">
            <a href="/personal.html" class="header__logo">
                <img src="./images/logo-header.svg" alt="">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse header__user-actions" id="navbarNav">
                <div class="links">
                    <a href="#" class="contact-link">
                        <img src="./images/icons/wechat.svg" alt="">
                        пример
                    </a>
                    <a href="#" class="contact-link">
                        <img src="./images/icons/telegram.svg" alt="">
                        пример
                    </a>
                </div>
                <a href="payment.html" class="btn btn-primary">Пополнить баланс</a>
                <div class="user-dropdown dropdown d-none d-md-flex" id="user-header-dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Nickname
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="sign-in.html">Выйти</a></li>
                    </ul>
                </div>
                <a href="#" class="d-md-none mobile-user-link">Nickname</a>
                <a href="#" class="d-md-none mobile-user-link">Выйти</a>
                <div class="user-block" style="display: none">
                    <a href="/panel/sign-in.html" class="btn btn-secondary btn-login">Вход</a>
                    <a href="/panel/sign-up.html" class="btn btn-primary btn-signup">Регистрация</a>
                </div>
            </div>
            <div class="header__navigation">
                <a href="personal.html" class="active">
                    <span>
                    <img src="./images/icons/nav/nav-personal.svg" alt="">
                    Персональные
                    </span>
                </a>
                <a href="mobile.html">
                    <span>
                    <img src="./images/icons/nav/nav-mobile.svg" alt="">
                    Мобильные
                    </span>
                </a>
                <a href="datacenter.html">
                    <span>
                    <img src="./images/icons/nav/nav-dc.svg" alt="">
                    Серверные
                    </span>
                </a>
                <a href="faq.html">
                    <span>
                    <img src="./images/icons/nav/nav-faq.svg" alt="">
                    FAQ
                    </span>
                </a>
            </div>
        </nav>
    </div>
</header>