<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body p-lg-5">
                    <h2 class="text-center mb-4">Регистрация</h2>
                    <div class="mb-3">
                        <label for="email" class="form-label">Почта</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="r-password" class="form-label">Повторите пароль</label>
                        <input type="password" class="form-control" id="r-password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-100">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>